
<nav class="navbar">
    <div class="nav-left">
        <span class="logo">🏥</span>
        <span class="brand">ABC Hospital</span>
    </div>
    <div class="hamburger" (click)="toggleMenu()"> ☰</div>
   <div class="nav-right">
    <ul class="nav-links" [class.open]="isMenuOpen">
   <a routerLink="/home">Home</a>
   <a routerLink="/patients" >Patients</a>
   <a routerLink="/staff">Staffs</a>
   <a routerLink="/appointments">Appointment</a>
   </ul>
   <button class="admin-btn">Admin Login</button>
</div>
</nav>