<h2>create appointment</h2>
<form [formGroup]="appointmentForm" (ngSubmit)="addAppointments()">
<!-- for patient -->
 <div class="mb-3">
    <label for="">Patient</label>
<select class="form-control" formControlName="patientId" id="">
    <option value="">Select Patient</option>
    <option *ngFor="let p of patients" [value]="p.id">
        {{p.name}}
    </option>
</select>
</div>

<!-- for doctor -->
 <div class="mb-3">
    <label for="">Doctor</label>
<select class="form-control" formControlName="doctorId" id="">
    <option value="">Select Doctor</option>
    <option *ngFor="let d of doctors"[value]="d.id">
        {{d.name}}
    </option>
</select>
</div>


<!-- date and time -->
 <div class="mb-3">
    <label for="">Appointment Date and Time</label>
<input type="datetime-local" class="form-control"
       formControlName="appointmentDateTime"
       [min]="minDateTime">
</div>

<div class="mb-3">
  <label>Status</label>
  <select class="form-control" formControlName="status">
    <option *ngFor="let s of statuses" [ngValue]="s.value">
      {{s.label}}
    </option>
  </select>
</div>


       <button type="submit" class="btn btn-success" >create appointment</button>
       </form>

       <h2>Saved Appointments</h2>
       <ag-grid-angular
       class="ag-theme-alpine"
       style="width: 100%; height: 400px;"
       [rowData]="appointments"
       [columnDefs]="columnsDefs"
       [pagination]="true"
       [paginationPageSize]="20"
       >

       </ag-grid-angular>