<div class="page-header">
<button type="button" class="btn btn-primary" (click)="openModal()">Create New Appointment</button>
</div>
<div class="modal fade" id="appointmentModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add Appointment</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="appointmentForm" (ngSubmit)="addAppointments()">

          <div class="mb-3">
            <label>Patient</label>
            <select class="form-control" formControlName="patientId" id="patientId">
              <option value="">Select Patient</option>
              <option *ngFor="let p of patients" [value]="p.id">
                {{p.name}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label>Doctor</label>
            <select class="form-control" formControlName="doctorId" id="doctorId">
              <option value="">Select Doctor</option>
              <option *ngFor="let d of doctors" [value]="d.id">
                {{d.name}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label>Appointment Date and Time</label>
            <input type="datetime-local"
                   class="form-control"
                   formControlName="appointmentDateTime"
                   [min]="minDateTime">
          </div>

          <div class="mb-3">
            <label>Status</label>
            <select class="form-control" formControlName="status">
              <option *ngFor="let s of statuses" [ngValue]="s.value">
                {{s.label}}
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-success">
            Create Appointment
          </button>

        </form>

      </div>
    </div>
  </div>
</div>
    <div class="table-name">
       <h2>Saved Appointments</h2>
       </div>
       <ag-grid-angular
       class="ag-theme-alpine"
       style="width: 90%; height: 400px;"
       [rowData]="appointments"
       [columnDefs]="columnsDefs"
       [pagination]="true"
       [paginationPageSize]="20"
       >

       </ag-grid-angular>