<header><h1>Hospital Management System</h1></header>
<main>
    <section id="patient"></section>
    
    <div id="patient-form">
        <form >
    <label>Full Name:</label>
<input type="text" name="Full name" placeholder="Enter the full name" required>

<label for="">Address</label>
<input type="text" name="Address" placeholder="Enter the address" required>

<label for="">Phone number</label>
<input type="number" name=" Phone number" required>

<label for="">Age</label>
<input type="number" name="age" required>

<label for="">problem</label>
<input type="text"name="Prblem"[required]="">
</form>
</div>
<input type="button"value="save">
</main>